/* Base css start */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* colors */
   --primary: #5a2989;
   --black: #1a1a1a;
   --gray: #555;
   --border-color: #b0b0b0;
   --blue: #0250d9;

   /* fonts */
   --messinaSans: "Messina Sans";
}

ol,
ul {
   margin: 0;
   padding: 0;
}
ul li {
   list-style-type: none;
}

a,
button {
   transition: all 0.3s;
}
a {
   text-decoration: none;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl,
.container-fluid {
   padding-inline: 20px;
}
body {
   font-family: var(--messinaSans);
   color: var(--gray);
}
h1,
h2,
h3,
h4,
h5,
h6 {
   color: var(--black);
}
label {
   cursor: pointer;
   display: block;
}
input:focus,
select:focus {
   outline: none;
}

/* custom utility class */

.min-h-0 {
   min-height: 0 !important;
}
/* custom utility class end */

.section-title__icon {
   width: 111px;
}
.section-title__title {
   font-size: 32px;
   line-height: 118.75%;
}
.section-title__desc--lg {
   font-size: 18px;
   line-height: normal;
}
.section-title {
   margin-bottom: 30px;
}
.section {
   padding-block: 64px;
   min-height: calc(100vh - 124px);
}
.section-wrapper {
   max-width: 655px !important;
   width: 100%;
}
.theme-btn__wrap {
   gap: 10px;
   flex-wrap: wrap;
}
.theme-btn {
   font-size: 16px;
   line-height: 125%;
   border: 1px solid var(--primary);
   color: #fff;
   background-color: var(--primary);
   padding: 13px 24px;
   font-weight: 600;
   transition: all 0.3s;
}
.theme-btn--regular {
   background-color: #fff;
   color: #000;
}
.theme-btn--danger {
   border: 1px solid #fe3d4f;
   background-color: #fa1228;
}
.theme-btn.theme-btn--sm {
   padding: 9px 16px;
}
.theme-btn:hover {
   background-color: var(--black);
   border-color: var(--black);
   color: #fff;
}
.theme-btn--danger:hover {
   background-color: #fe3d4f;
   border-color: #fe3d4f;
}
.theme-btn.back-btn {
   padding: 4px 16px;
   font-size: 14px;
   line-height: normal;
}

.acc-type-tag {
   border: 1px solid #5a2989;
   background-color: rgba(84, 32, 135, 0.1);
   padding: 4px 10px;
   font-size: 12px;
   line-height: normal;
   color: #000;
}

/* Base css end */

/* header section start */
.header {
   padding-block: 16px;
   border-bottom: 1px solid rgba(128, 128, 128, 0.2);
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #fff;
   z-index: 1020;
}

.header__logo {
   gap: 8px;
   font-size: 20px;
   color: var(--primary);
}

.header__logo-icon {
   width: 24px;
}

.header__btn {
   color: var(--black);
   line-height: 1.25;
   padding: 9px 15px;
   border: 1px solid var(--primary);
   gap: 10px;
}

.header__btn:hover {
   background-color: var(--primary);
   color: #fff;
}
.header .container-fluid,
.footer .container-fluid {
   padding-inline: 32px;
}
/* header section end */

/* signup section start */
.signup__wrapper {
   grid-template-columns: 1fr 1fr;
}

.signup__left {
   padding: 64px;
}

.form {
   gap: 30px;
}

.form__input-list .row {
   --bs-gutter-x: 20px;
   --bs-gutter-y: 20px;
}

.form__input-label {
   display: inline-block;
   font-size: 14px;
   line-height: 18px;
   color: #1a1a1a;
   margin-bottom: 8px;
   cursor: pointer;
}
.optional-text {
   font-size: 13px;
   color: #898989;
}
.form__input {
   gap: 20px;
}
.form__input-field {
   height: 48px;
   padding-inline: 16px;
   border: 1px solid var(--border-color);
   color: var(--black);
   background-color: #fff;
   transition: all 0.3s;
}
.form__input-field--sm {
   height: 40px;
   font-size: 14px;
   padding-inline: 12px;
}
.form__input-field.filled {
   background-color: #9091961a;
}

.form__input-field::placeholder {
   color: #909196;
}

.form__input-field:focus {
   border-color: var(--black);
}
.form__input-err-msg {
   font-size: 14px;
   line-height: normal;
   color: #fe3d4f;
   margin-top: 10px;
   display: none;
}
.form__input.is-error .form__input-err-msg {
   display: block;
}
.form__input.is-error .form__input-field {
   border-color: #fa1228;
}
.captcha__img {
   width: 302px;
}
.form__condition-label {
   gap: 10px;
   line-height: normal;
}

.form__checkbox {
   width: 18px;
   height: 18px;
   border: 1px solid var(--border-color);
   font-size: 0;
   transition: all 0.3s;
   color: #ffff;
   background-color: #fff;
}
.form__condition-label input:checked ~ .form__checkbox {
   background-color: var(--primary);
   border-color: var(--primary);
   font-size: 12px;
}
.form__condition-wrap {
   width: 100%;
   padding: 7px 12px;
   gap: 15px;
   background-color: #fff;
   border-radius: 4px;
   border: 1px solid #909196;
}

.form__condition-label input:checked ~ .form__condition-wrap .form__checkbox {
   background-color: var(--primary);
   border-color: var(--primary);
   font-size: 12px;
}
.form__condition--disable .form__condition-label {
   cursor: not-allowed;
   -webkit-user-select: none;
   user-select: none;
}
.form__condition--disable .form__condition-wrap {
   border-color: rgba(144, 145, 150, 0.5);
   background-color: #f6f6f6;
   color: #1a1a1a4d;
}

.form__condition--disable .form__checkbox {
   border-color: rgba(60, 60, 67, 0.18);
   background-color: rgba(60, 60, 67, 0.18);
   font-size: 13px;
}

.form__footer-text a {
   color: var(--primary);
}

.form__footer-text a:hover {
   color: var(--black);
}
.testimonial-slider__container {
   background-color: #f2ecfd;
   padding: 64px;
}

.testimonial-slider__profile {
   width: 64px;
   height: 64px;
}

.testimonial-slider__desc {
   margin-block: 20px;
}

.testimonial-slider__profile-name {
   color: var(--black);
   font-weight: 600;
   line-height: 1.25;
}
.profile-pic {
   width: 101px;
   height: 101px;
   background-color: #d9d9d9;
}
.profile-pic img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}
/* signup section end */

/* footer section start */
.footer {
   padding-block: 16px;
   border-top: 1px solid rgba(128, 128, 128, 0.2);
}
.footer__copyright {
   font-size: 14px;
   line-height: 18px;
}
.footer .theme-btn__wrap {
   gap: 28px;
}
/* footer section end */

/* toast start */
.toast-container {
   top: 46px;
}

.toast {
   width: 654px;
   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
      0px 12px 24px 0px rgba(0, 0, 0, 0.1);
}
.toast-wrapper {
   padding: 12px 8px 12px 16px;
   gap: 12px;
}

.toast-icon img {
   width: 24px;
}

.toast-title {
   font-size: 14px;
   line-height: 1.4;
}

.toast-desc {
   font-size: 14px;
   line-height: 1.4;
}

.toast-close-btn {
   width: 24px;
   height: 24px;
   font-size: 20px;
   color: #000;
}
/* toast end */

/* survey section start */
.survey {
   min-height: 0;
   height: calc(100vh - 124px);
}
.survey__wrapper {
   max-width: 560px !important;
}

.survey-img {
   width: 478px;
}

.survey__block-list {
   gap: 20px;
}

.survey__block {
   background-color: #f6f4f1;
}

.survey__block-title {
   line-height: 1.2;
}

.survey__question-list {
   gap: 11px;
   color: var(--black);
}

.survey__block-divider {
   width: 36px;
}
.survey__block .form__input-list .row {
   --bs-gutter-y: 11px;
}
.security-list li {
   list-style-type: disc;
   color: #000;
   line-height: 22px;
}

.security-list {
   padding-left: 24px;
}

/* survey section end */

/* dashboard section start */

/* sidebar start */
.sidebar {
   width: 288px;
   border-right: 1px solid #e8e8e8;
   position: sticky;
   left: 0;
   top: 73px;
   height: calc(100vh - 73px);
   overflow: hidden;
   z-index: 99;
   background-color: #fff;
   transition: all 0.4s;
}
.sidebar__wrapper {
   padding: 24px;
   overflow: auto;
   height: 100%;
   gap: 24px;
}

.sidebar__block-title {
   font-size: 12px;
   line-height: normal;
   color: var(--gray);
   transition: all 0.4s;
   text-transform: uppercase;
   gap: 10px;
}

.sidebar__menu-link {
   gap: 12px;
   color: var(--black);
   padding: 5px 5px 5px 0;
}

.sidebar__menu-icon {
   width: 24px;
   aspect-ratio: 1 / 1;
}
.sidebar__menu-link:hover {
   color: var(--primary);
}
.sidebar__menu-link.active {
   background-color: #f7f4f9;
   color: var(--primary);
}

.sidebar__menu-link.active .sidebar__menu-icon,
.sidebar__menu-link:hover .sidebar__menu-icon {
   filter: invert(15%) sepia(45%) saturate(4416%) hue-rotate(261deg)
      brightness(88%) contrast(88%);
}

.sidebar__menu-icon {
   transition: all 0.4s;
}
.sidebar__menu-text {
   transition: all 0.4s;
}
.sidebar__divider {
   height: 1px;
   background-color: #e8e8e8;
   width: 100%;
   flex-shrink: 0;
}
.sidebar__collapse-btn {
   width: 24px;
   height: 24px;
   border: 1px solid #e8e8e8;
   border-radius: 6px 0 0 6px;
   background-color: #fff;
   top: 15px;
}
.sidebar.collapsed {
   width: 72px;
}
.sidebar.collapsed .sidebar__menu-text {
   transform: translateX(-300px);
   display: none;
}
.sidebar.collapsed .sidebar__block-title {
   transform: translateX(-300px);
   display: none !important;
}
.sidebar.collapsed .sidebar__menu-link-tag {
   transform: translateX(-300px);
   display: none !important;
}
.sidebar.collapsed .sidebar__menu-link {
   justify-content: center;
}
.sidebar__close-btn {
   width: 24px;
   height: 24px;
   border: 1px solid #e8e8e8;
   border-radius: 6px 0 0 6px;
   background-color: #fff;
   top: 15px;
}
.sidebar__overlay {
   background-color: rgb(0 0 0 / 70%);
   opacity: 0;
   visibility: hidden;
   transition: all 0.4s;
}
.sidebar__overlay.show {
   opacity: 1;
   visibility: visible;
}
.sidebar-toggle {
   color: var(--primary);
   font-size: 20px;
}
.sidebar__menu-link-tag {
   font-size: 9px;
   line-height: 14px;
   padding: 3px 8px;
   color: var(--black);
   background-color: #fce120;
}
.sidebar.style-2 .sidebar__wrapper {
   padding: 24px 16px;
}
/* sidebar end */

.dashboard__main {
   padding: 52px 72px;
   min-width: 0;
}

.section-title__title--primary {
   color: var(--primary);
}
.dashboard__block-title h5 {
   font-size: 18px;
}

.dashboard__cards .row {
   --bs-gutter-x: 24px;
   --bs-gutter-y: 24px;
}

.dashboard__card {
   padding: 16px 28px;
   border: 1px solid #e8e8e8;
   border-radius: 16px;
   gap: 24px;
   min-height: 117px;
   height: 100%;
   color: inherit;
}

.upload__icon {
   width: 24px;
}

.dashboard__card .link-text {
   color: var(--primary);
}

.dashboard__block:not(:last-child) {
   margin-bottom: 48px;
}

.service__card {
   min-height: 207px;
   height: auto;
}

.nid__icon {
   width: 48px;
   aspect-ratio: 1 / 1;
}
.quick-links__card {
   padding: 16px;
   background-color: #f6f4f1;
   border-color: #f6f4f1;
}
.dashboard__card-thumb img {
   transition: all 1s ease-in-out;
}

.dashboard__card-thumb:hover img {
   transform: scale(1.1);
}
.count-text {
   font-size: 24px;
}
.slider-nav-btn {
   width: 40px;
   height: 40px;
   background-color: #fff;
   border: 1px solid var(--primary);
   color: var(--primary);
   opacity: 0.5;
}

.slider-nav-btn:hover {
   opacity: 1;
}
.quick-links__card.style-2 {
   background-color: #5420870d;
   color: var(--primary);
}
/* dashboard section end */

/* personal info section start */
.personal-info__card-wrap {
   gap: 28px 30px;
}

.personal-info__card {
   border-radius: 4px;
   padding: 17px 24px;
   width: 270px;
   transition: all 0.3s;
}

/* .personal-info .dashboard__block:not(:last-child) {
   margin-bottom: 34px;
} */

.personal-info__card:hover {
   background-color: #f6f4f1;
}

.personal-info__card .link-text {
   color: #0071dc;
}
.identification .personal-info__card {
   gap: 10px;
   height: auto;
   padding: 18px 20px 20px 24px;
   min-height: 140px;
}
.card-tag {
   font-size: 14px;
   line-height: normal;
   padding: 5px 10px;
   background-color: #f49e42;
   right: 11px;
}

.person-designation {
   line-height: normal;
}

.expire-info {
   font-size: 14px;
   line-height: normal;
   color: #fa1228;
   margin-top: 10px;
}

/* theme modal style start */
.theme-modal .modal-dialog {
   max-width: 830px;
}
.theme-modal .modal-title {
   color: var(--gray);
   line-height: 1;
}
.theme-modal .modal-header {
   padding: 20px 30px;
   gap: 10px;
   border-color: #909196;
}
.theme-modal .modal-body {
   padding: 32px;
}

.theme-modal__desc {
   font-size: 18px;
   line-height: normal;
}

.theme-modal__form {
   gap: 26px;
}

.theme-modal .form__input-list .row {
   --bs-gutter-x: 22px;
   --bs-gutter-y: 16px;
}

.upload-box__list {
   gap: 21px;
}

.upload-box {
   width: 295px;
}

.upload-box__wrapper {
   width: 100%;
   min-height: 166px;
   border: 1px dashed var(--gray);
   font-size: 18px;
   line-height: normal;
   padding: 20px;
}

.upload-box__icon {
   width: 50px;
   aspect-ratio: 1 / 1;
}
.preview-img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.preview-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.theme-modal .modal-footer {
   padding: 20px 24px;
   background-color: #5420871a;
   border-top: 0;
}
.theme-modal .modal-footer > * {
   margin: 0;
}
.theme-modal .modal-content {
   border-color: #5420874d;
}
.info-box {
   padding: 14px 16px;
   gap: 12px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   margin-bottom: 20px;
}

.info-box__desc {
   font-size: 14px;
   line-height: 1.4;
}
/* theme modal style end */

/* personal info section end */

/* medical history section start */
.medical-history .dashboard__block-title h5 {
   color: var(--gray);
}

.medication-item__list {
   gap: 12px;
   min-width: 580px;
}

.medication-item {
   padding: 14px 40px 14px 17px;
   gap: 50px;
   border: 1px solid rgba(128, 128, 128, 0.2);
}

.medication-item__type span {
   font-size: 12px;
   line-height: normal;
   padding: 4px 10px;
   border-radius: 12px;
   border: 1px solid #f49e42;
   background-color: rgba(244, 158, 66, 0.3);
}

.medication-item__type--note span {
   background-color: rgba(12, 74, 218, 0.3);
   border-color: #0c4ada;
}

.medication-item__type--allergy span {
   border-color: #fe3d4f;
   background-color: rgba(254, 61, 79, 0.3);
}
.medication-item__type--default span {
   border: 1px solid #b0b0b0;
   background-color: rgba(176, 176, 176, 0.3);
}
.medication-item__type {
   width: 13%;
   min-width: 136px;
   flex-shrink: 0;
}
.medication-item__action-toggle img {
   width: 18px;
}
/* medical history section end */

/* property section start */
.property__cards .row {
   --bs-gutter-x: 15px;
   --bs-gutter-y: 32px;
}
.property__cards .dashboard__card {
   min-height: 133px;
}
.form__block ul li {
   list-style-type: disc;
}
.form__block ul li {
   font-size: 18px;
   line-height: 24px;
}
/* property section end */

/* property add section start */
.property-add__step {
   min-width: 60px;
}
.property-add__step span {
   width: 32px;
   height: 32px;
   border: 2px solid #474747;
   margin: auto;
}
.property-add__step h6 {
   font-size: 14px;
   color: #474747;
   line-height: 1.5;
}
.step-divider {
   height: 2px;
   background-color: #474747;
   border-radius: 10px;
   margin-top: 16px;
}
.property-add__wrapper {
   max-width: 626px !important;
}
.property-add__form {
   gap: 20px;
   border: 1px solid rgba(232, 232, 232, 0.5);
   background-color: #fff;
   box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 1px rgba(0, 0, 0, 0.15);
   padding: 16px;
}
.property-add__form .form__input-list {
   gap: 20px;
}
.form__footer {
   padding-block: 20px;
}
.file-upload {
   border: 1px dashed #5c5c5c;
   border-radius: 8px;
}
.file-upload .upload-btn {
   font-size: 14px;
   line-height: 19px;
   color: var(--blue);
   padding: 6px 16px;
   border: 1px solid #5c5c5c;
   border-radius: 100px;
   margin-bottom: 12px;
   cursor: pointer;
   transition: all 0.3s;
}
.file-upload .upload-btn i {
   display: flex;
   align-items: center;
}
.file-upload p {
   color: #03234d;
}
.file-upload .upload-btn:hover {
   background-color: var(--blue);
   color: #fff;
   border-color: var(--blue);
}
.file-upload .preview-img img {
   width: 200px;
   height: 200px;
   margin: 0px auto 20px;
}
/* property add section start */

/* property list section start */
.property__card {
   border: 1px solid rgba(128, 128, 128, 0.2);
   padding: 18px 24px;
   gap: 22px;
}

.view-more-btn {
   font-size: 14px;
   line-height: normal;
   color: #0071dc;
}

.view-more-btn:hover {
   color: var(--blue);
}

.property__action-dropdown .dropdown-toggle::after {
   display: none;
}

.property__action-dropdown .dropdown-toggle img {
   width: 18px;
}

.property__action-dropdown .dropdown-menu {
   min-width: 132px;
   padding: 10px;
   border-radius: 4px;
   border: 1px solid rgba(128, 128, 128, 0.2);
}

.property__action-dropdown .dropdown-item {
   font-size: 14px;
   line-height: normal;
   color: #0071dc;
   padding: 5px 10px;
   border-radius: 4px;
}

.property__action-dropdown .dropdown-item:hover {
   background-color: #80808033;
}
.property-detail__title {
   font-size: 18px;
   line-height: normal;
   margin-bottom: 10px;
}

.property-detail__block {
   padding: 14px 20px;
   border: 1px solid rgba(128, 128, 128, 0.2);
   margin-bottom: 10px;
}

.property-detail__block h5 {
   font-size: 18px;
   line-height: normal;
   margin-bottom: 9px;
}

.property-detail__block:last-child {
   margin-bottom: 0;
}

.property-detail__sub-block {
   padding: 5px 0 10px;
   border-bottom: 1px solid rgba(128, 128, 128, 0.2);
   margin-bottom: 9px;
}

.property-detail__sub-block:last-child {
   margin-bottom: 0;
   border-bottom: 0;
}

.file-name {
   color: #0071dc;
}

.property-detail__block h6 {
   font-size: 14px;
   line-height: normal;
   margin-bottom: 9px;
}

.attachments {
   gap: 13px;
}

.attachment {
   width: 355px;
   height: auto;
}
.confirmation-modal .modal-dialog {
   max-width: 566px;
}

.confirmation-modal .modal-content {
   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3),
      0px 12px 24px 0px rgba(0, 0, 0, 0.2);
}

.confirmation-modal .modal-body {
   padding: 24px;
}

.confirmation-msg {
   font-size: 14px;
   line-height: 1.4;
}

.confirmation-modal .modal-footer {
   padding: 12px 24px 32px;
}
.safebox-attachments .attachment {
   width: 167px;
}
/* property list section end */

/* loan section start */
.loan__block .row {
   --bs-gutter-x: 34px;
}
.debit-card {
   border: 1px solid rgba(128, 128, 128, 0.2);
   padding: 20px;
   min-height: 287px;
}
.debit-card__empty-msg {
   font-size: 18px;
   line-height: normal;
   max-width: 265px;
}
.debit-card__empty-icon {
   width: 124px;
}

.blog-card__wrapper .row {
   --bs-gutter-x: 34px;
   --bs-gutter-y: 34px;
}

.blog-card__content {
   padding: 17px 30px 20px;
   border: 1px solid rgba(128, 128, 128, 0.2);
}

.blog-card__title {
   line-height: normal;
}

.blog-card__desc {
   line-height: normal;
}
.blog-card__thumb img {
   min-height: 144px;
}
.loan-pie {
   max-width: 560px;
}
/* loan section end */

/* collaborator section start */
.collaborator__empty-area {
   padding: 63px 27px 46px 51px;
   border: 1px solid rgba(128, 128, 128, 0.2);
}

.empty-content {
   gap: 20px;
}

.empty-msg {
   max-width: 265px;
}

.collaborator__info-cards {
   margin-top: 73px;
}

.collaborator__info-card {
   padding: 20px 16px;
   border: 1px solid rgba(128, 128, 128, 0.2);
   gap: 11px;
}

.collaborator__info-card h5 {
   font-size: 18px;
   line-height: normal;
}

.collaborator__info-card p {
   line-height: normal;
}
.collaborator__list {
   gap: 34px;
}

.collaborator__list-block-title {
   font-size: 18px;
   line-height: normal;
   margin-bottom: 26px;
}

.collaborator__profiles .row {
   --bs-gutter-x: 28px;
   --bs-gutter-y: 28px;
}

.collaborator__profile {
   height: 100%;
   border: 1px solid rgba(128, 128, 128, 0.2);
   padding: 18px 24px;
}

.collaborator__profile-img {
   width: 74px;
   height: 74px;
   margin-bottom: 10px;
}

.collaborator__profile-name {
   line-height: normal;
}

.collaborator__profile-designation {
   line-height: normal;
   margin-bottom: 31px;
}

.collaborator__profile-items {
   font-size: 18px;
   line-height: normal;
   color: #0071dc;
}
.form__condition-list {
   gap: 10px;
}
.divider {
   height: 1px;
   background-color: rgba(128, 128, 128, 0.2);
   margin-block: 20px;
}
.form__condition-collapse-body {
   padding: 18px 16px;
   border: 1px solid #909196;
   border-top: 0;
   border-radius: 0 0 4px 4px;
}

.form__condition[aria-expanded="true"] .form__condition-wrap {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}
/* collaborator section end */

/* banking section start */
.account-card {
   width: 313px;
   padding: 16px 24px 13px 24px;
   border: 1px solid var(--Gray-2, #f1f1f1);
}

.account-card__amount {
   color: #165baa;
   font-size: 32px;
   line-height: normal;
   letter-spacing: -1.2px;
}

.account-card__pie-img {
   max-width: 200px;
   margin-bottom: 75px;
}

.pie-single-data {
   font-size: 12px;
   line-height: normal;
   color: #000;
   padding-left: 16px;
   font-weight: 600;
}

.pie-single-data::before {
   content: "";
   width: 8px;
   height: 8px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 4px;
   background-color: #000;
   border-radius: 50%;
}

.pie-single-data--blue::before {
   background-color: #7987ff;
}

.pie-single-data--pink::before {
   background-color: #ffa5cb;
}

.pie-single-data--violet::before {
   background-color: #e697ff;
}
.account-card__slider-nav {
   gap: 6px;
   margin-bottom: 14px;
}
.account-card__slider-nav .slider-nav-btn {
   width: auto;
   height: auto;
   font-size: 28px;
   line-height: 1.2;
   color: var(--gray);
   opacity: 1;
}
.account-card__slider-nav .slider-nav-btn:hover {
   color: #000;
}
.blog-card--fluid .blog-card__thumb {
   width: 45%;
}
/* banking section end */

/* choice dropdown style */
.choices {
   color: var(--black);
}
.choices__inner {
   background-color: transparent;
   border-radius: 6px;
   border-color: var(--border-color);
   padding: 0 !important;
   min-height: 40px;
   vertical-align: middle;
}

.choices__list--single {
   padding: 10px 12px;
}
.signup .choices__list--single {
   padding: 12.5px 12px;
}

.dashboard__block .back-btn {
   margin-right: -40px;
}
