/* Base css start */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* colors */
   --primary: #5a2989;
   --black: #1a1a1a;
   --gray: #555;
   --border-color: #b0b0b0;

   /* fonts */
   --messinaSans: "Messina Sans";
}

ol,
ul {
   margin: 0;
   padding: 0;
}
li {
   list-style-type: none;
}

a,
button {
   transition: all 0.3s;
}
a {
   text-decoration: none;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
   padding-inline: 20px;
}
body {
   font-family: var(--messinaSans);
   color: var(--gray);
}
h1,
h2,
h3,
h4,
h5,
h6 {
   color: var(--black);
}
label {
   cursor: pointer;
   display: block;
}
input:focus,
select:focus {
   outline: none;
}

/* custom utility class */

.min-h-0 {
   min-height: 0 !important;
}
/* custom utility class end */

.section-title__icon {
   width: 111px;
}
.section-title__title {
   font-size: 32px;
   line-height: 118.75%;
}
.section-title__desc--lg {
   font-size: 18px;
   line-height: normal;
}
.section-title {
   margin-bottom: 30px;
}
.section {
   padding-block: 64px;
   min-height: calc(100vh - 124px);
}
.section-wrapper {
   max-width: 655px !important;
   width: 100%;
}
.theme-btn__wrap {
   gap: 10px;
   flex-wrap: wrap;
}
.theme-btn {
   line-height: 125%;
   border: 1px solid var(--primary);
   color: #fff;
   background-color: var(--primary);
   padding: 13px 24px;
   font-weight: 600;
   transition: all 0.3s;
}
.theme-btn--regular {
   background-color: #fff;
   color: #000;
}
.theme-btn.theme-btn--sm {
   padding: 9px 16px;
}
.theme-btn:hover {
   background-color: var(--black);
   border-color: var(--black);
   color: #fff;
}

/* Base css end */

/* header section start */
.header {
   padding-block: 16px;
   border-bottom: 1px solid rgba(128, 128, 128, 0.2);
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #fff;
   z-index: 1020;
}

.header__logo {
   gap: 8px;
   font-size: 20px;
   color: var(--primary);
}

.header__logo-icon {
   width: 24px;
}

.header__btn {
   color: var(--black);
   line-height: 1.25;
   padding: 9px 15px;
   border: 1px solid var(--primary);
   gap: 10px;
}

.header__btn:hover {
   background-color: var(--primary);
   color: #fff;
}
/* header section end */

/* signup section start */
.signup__wrapper {
   grid-template-columns: 1fr 1fr;
   max-width: 1440px;
}

.testimonial-slider {
   max-width: 592px;
}

.signup__left {
   padding: 64px;
}

.signup__left-wrapper {
   max-width: 592px;
}

.form {
   gap: 30px;
}

.form__input-list .row {
   --bs-gutter-x: 20px;
   --bs-gutter-y: 20px;
}

.form__input-label {
   display: inline-block;
   font-size: 14px;
   line-height: 18px;
   color: #1a1a1a;
   margin-bottom: 8px;
   cursor: pointer;
}
.optional-text {
   font-size: 13px;
   color: #898989;
}
.form__input {
   gap: 20px;
}
.form__input-field {
   height: 48px;
   padding-inline: 16px;
   border: 1px solid var(--border-color);
   color: var(--black);
   background-color: #fff;
   transition: all 0.3s;
}
.form__input-field--sm {
   height: 40px;
   font-size: 14px;
   padding-inline: 12px;
}
.form__input-field.filled {
   background-color: #9091961a;
}

.form__input-field::placeholder {
   color: #909196;
}

.form__input-field:focus {
   border-color: var(--black);
}
.form__input-err-msg {
   font-size: 14px;
   line-height: normal;
   color: #fe3d4f;
   margin-top: 10px;
   display: none;
}
.form__input.is-error .form__input-err-msg {
   display: block;
}
.form__input.is-error .form__input-field {
   border-color: #fa1228;
}
.captcha__img {
   width: 302px;
}
.form__condition-label {
   gap: 10px;
   line-height: normal;
}

.form__checkbox {
   width: 18px;
   height: 18px;
   border: 1px solid var(--border-color);
   font-size: 0;
   transition: all 0.3s;
   color: #ffff;
   background-color: #fff;
}
.form__condition-label input:checked ~ .form__checkbox {
   background-color: var(--primary);
   border-color: var(--primary);
   font-size: 12px;
}
.form__condition-wrap {
   width: 100%;
   padding: 7px 12px;
   gap: 15px;
   background-color: #fff;
   border-radius: 4px;
   border: 1px solid #909196;
}

.form__condition-label input:checked ~ .form__condition-wrap .form__checkbox {
   background-color: var(--primary);
   border-color: var(--primary);
   font-size: 12px;
}
.form__footer-text a {
   color: var(--primary);
}

.form__footer-text a:hover {
   color: var(--black);
}
.testimonial-slider__container {
   background-color: #f2ecfd;
   padding: 64px;
}

.testimonial-slider__profile {
   width: 64px;
   height: 64px;
}

.testimonial-slider__desc {
   margin-block: 20px;
}

.testimonial-slider__profile-name {
   color: var(--black);
   font-weight: 600;
   line-height: 1.25;
}
.profile-pic {
   width: 101px;
   height: 101px;
   background-color: #d9d9d9;
}
.profile-pic img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}
/* signup section end */

/* footer section start */
.footer {
   padding-block: 16px;
   border-top: 1px solid rgba(128, 128, 128, 0.2);
}
.footer__copyright {
   font-size: 14px;
   line-height: 18px;
}
.footer .theme-btn__wrap {
   gap: 28px;
}
/* footer section end */

/* toast start */
.toast-container {
   top: 46px;
}

.toast {
   width: 654px;
   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
      0px 12px 24px 0px rgba(0, 0, 0, 0.1);
}
.toast-wrapper {
   padding: 12px 8px 12px 16px;
   gap: 12px;
}

.toast-icon img {
   width: 24px;
}

.toast-title {
   font-size: 14px;
   line-height: 1.4;
}

.toast-desc {
   font-size: 14px;
   line-height: 1.4;
}

.toast-close-btn {
   width: 24px;
   height: 24px;
   font-size: 20px;
   color: #000;
}
/* toast end */

/* survey section start */
.survey {
   min-height: 0;
   height: calc(100vh - 124px);
}
.survey__wrapper {
   max-width: 560px !important;
}

.survey-img {
   width: 478px;
}

.survey__block-list {
   gap: 20px;
}

.survey__block {
   background-color: #f6f4f1;
}

.survey__block-title {
   line-height: 1.2;
}

.survey__question-list {
   gap: 11px;
   color: var(--black);
}

.survey__block-divider {
   width: 36px;
}
.survey__block .form__input-list .row {
   --bs-gutter-y: 11px;
}
.security-list li {
   list-style-type: disc;
   color: #000;
   line-height: 22px;
}

.security-list {
   padding-left: 24px;
}

/* survey section end */

/* dashboard section start */

/* sidebar start */
.sidebar {
   width: 288px;
   border-right: 1px solid #e8e8e8;
   position: sticky;
   left: 0;
   top: 73px;
   height: calc(100vh - 73px);
   overflow: hidden;
   z-index: 99;
   background-color: #fff;
   transition: all 0.4s;
}
.sidebar__wrapper {
   padding: 24px;
   overflow: auto;
   height: 100%;
   gap: 24px;
}

.sidebar__block-title {
   font-size: 12px;
   line-height: normal;
   color: var(--gray);
   transition: all 0.4s;
}

.sidebar__menu-link {
   gap: 12px;
   color: var(--black);
   padding: 5px 5px 5px 0;
}

.sidebar__menu-icon {
   width: 24px;
   aspect-ratio: 1 / 1;
}

.sidebar__menu-link:hover {
   background-color: #f7f4f9;
   color: var(--primary);
}

.sidebar__menu-link:hover .sidebar__menu-icon {
   filter: invert(15%) sepia(45%) saturate(4416%) hue-rotate(261deg)
      brightness(88%) contrast(88%);
}

.sidebar__menu-icon {
   transition: all 0.4s;
}
.sidebar__menu-text {
   transition: all 0.4s;
}
.sidebar__divider {
   height: 1px;
   background-color: #e8e8e8;
   width: 100%;
   flex-shrink: 0;
}
.sidebar__collapse-btn {
   width: 24px;
   height: 24px;
   border: 1px solid #e8e8e8;
   border-radius: 6px 0 0 6px;
   background-color: #fff;
   top: 15px;
}
.sidebar.collapsed {
   width: auto;
}
.sidebar.collapsed .sidebar__menu-text {
   transform: translateX(-300px);
   display: none;
}
.sidebar.collapsed .sidebar__block-title {
   transform: translateX(-300px);
   display: none;
}
.sidebar__close-btn {
   width: 24px;
   height: 24px;
   border: 1px solid #e8e8e8;
   border-radius: 6px 0 0 6px;
   background-color: #fff;
   top: 15px;
}
.sidebar__overlay {
   background-color: rgb(0 0 0 / 70%);
   opacity: 0;
   visibility: hidden;
   transition: all 0.4s;
}
.sidebar__overlay.show {
   opacity: 1;
   visibility: visible;
}
.sidebar-toggle {
   color: var(--primary);
   font-size: 20px;
}
/* sidebar end */

.dashboard__main {
   padding: 52px 72px;
   min-width: 0;
}

.section-title__title--primary {
   color: var(--primary);
}

.dashboard__cards .row {
   --bs-gutter-x: 24px;
   --bs-gutter-y: 24px;
}

.dashboard__card {
   padding: 16px 28px;
   border: 1px solid #e8e8e8;
   border-radius: 16px;
   gap: 24px;
   min-height: 117px;
   height: 100%;
   color: inherit;
}

.upload__icon {
   width: 24px;
}

.dashboard__cards .link-text {
   color: var(--primary);
}

.dashboard__block:not(:last-child) {
   margin-bottom: 48px;
}

.service__card {
   min-height: 207px;
   height: auto;
}

.nid__icon {
   width: 48px;
   aspect-ratio: 1 / 1;
}
.quick-links__card {
   padding: 16px;
   background-color: #f6f4f1;
   border-color: #f6f4f1;
}
.dashboard__card-thumb img {
   transition: all 1s ease-in-out;
}

.dashboard__card-thumb:hover img {
   transform: scale(1.1);
}
.count-text {
   font-size: 24px;
}
.slider-nav-btn {
   width: 40px;
   height: 40px;
   background-color: #fff;
   border: 1px solid var(--primary);
   color: var(--primary);
   opacity: 0.5;
}

.slider-nav-btn:hover {
   opacity: 1;
}
.quick-links__card.style-2 {
   background-color: #5420870d;
   color: var(--primary);
}
/* dashboard section end */
